//Footer    

footer{
    .footer-links{
        strong{
            font-size: 14px;
            font-size: .875rem;
            color: #003580;
        }
        ul{
            padding: 0em;
            li{
                line-height: 18px;
                a{
                    color: #4a4a4a;
                    font-size: 14px;
                    cursor: pointer;    
                }
            }
        }
    }
    .footer-copyright{
        strong{
            font-size: $standardText;
            font-size: $standardTextRem;
            color: $blue;
            margin-bottom: 10px;
            display: block;
        }
        p{
            font-size: $smallText;
            font-size: $smallTextRem;
            color: $gray;
        }
    }
}
