body{
    color: $txtColor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} 
img{max-width: 100%;}
p{margin-bottom: 10px;}
a {
  color: $link;
}
.visible
{
    display: block !important;
}
button{
    outline:none;
}

.inline-display{
    display: inline-block;
}
.inline{
    display: inline;
}
.d-inblock{
    display: inline-block;
}
.clickable
{
    cursor:pointer;
}
.hoverdark {
    &:hover {
        color:#136695 !important;
    }
}
.no-click {
    pointer-events: none;
}

.white-bg{
    background-color: $white;
}
.white{
    color: $white;
}

.no-list{
    list-style: none;
}

.divider{
    height: 1px;
    background-color: #e4e4eb;
}
.display-tcell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.elipsis-overflow
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.ui-helper-hidden-accessible
{
    display: none;
}

a:focus
{
    outline: none;
}

.link
{
    color: $link;
}

.hidden
{
    height: 0;
    display: none !important;
    visibility: hidden;
}

.standard-padding
{
    padding: $basePadding;
}

.no-top-margin
{
    margin-top:0;
}

.large-margin
{
    margin: $baseMargin;
    &.top
    {
        margin-top: $baseMargin;
    }

    &.bottom
    {
        margin-bottom: $baseMargin;
    }
}

.large-padding
{
    padding: $baseMargin;
}

.large-padding-top{
 padding-top: $baseMargin;
}

.large-padding-left {
 padding-left: $largePadding; 
}

.large-padding-right { 
 padding-right: $largePadding;
}

.large-padding-bottom { 
 padding-bottom: $largePadding;
}

.center-text
{
    text-align: center;
}
.right-text{
    text-align: right;
}
.middle-align {
	vertical-align: middle;
}
.top-align {
	vertical-align: top;
}
.centred-text
{
    text-align:center;
}
.display-inline {
    display: inline-block;
}
/* PADDINGS */
.no-pad
{
    padding: 0;
}

.padding-top
{
    padding-top: $basePadding;
}

.padding-bottom
{
    padding-bottom: $basePadding;
}

.padding-left
{
    padding-left: $basePadding;
}

.padding-right
{
    padding-right: $basePadding;
}

.standard-padding-top
{
    padding-top: $basePadding;
}

.standard-padding-left
{
    padding-left: $basePadding;
}

.standard-padding-bottom
{
    padding-bottom: $basePadding;
}

.standard-padding-right
{
    padding-right: $basePadding;
}

/* MARGINS */
.no-margin
{
    margin: 0;
}

.no-margin-top
{
    margin-top: 0;
}

.no-margin-bottom
{
    margin-bottom: 0;
}

.no-margin-left
{
    margin-left: 0;
}

.no-margin-right
{
    margin-right: 0;
}

.margin-top
{
    margin-top: $baseMargin;
}

.margin-bottom
{
    margin-bottom: $baseMargin;
}

.margin-left
{
    margin-left: $baseMargin;
}

.margin-right
{
    margin-right: $baseMargin;
}

.margin-top-small, .standard-margin-top
{
    margin-top: $baseMargin / 2;
}

.margin-bottom-small, .standard-margin-bottom
{
    margin-bottom: $baseMargin / 2;
}

.margin-left-small, .standard-margin-left
{
    margin-left: $baseMargin / 2;
}

.margin-right-small, .standard-margin-right
{
    margin-right: $baseMargin / 2;
}

/* BORDERS */
.no-border-top{
    border-top:0;
}
.no-border
{
    border: 0;
}
.radius30{
    border-radius:30px;
}

.full-border
{
    border: 1px solid $borderGray;
}

.border-top
{
    border-top: 1px solid $borderGray;
}

.border-bottom
{
    border-bottom: 1px solid $borderGray;
}

.border-left
{
    border-left: 1px solid $borderGray;
}

.border-right
{
    border-right: 1px solid $borderGray;
}

.full-width
{
    width:100%;
}


.icon-caret-right{
    &:before{
        content: "\F142";
    }
}
.icon-caret-down{
    &:before{
        content: "\F140";
    }
}
.icon-caret-up{
    &:before{
        content: "\F143";
    }
}
.icon-caret-left{
    &:before{
        content: "\F141";
    }
}

.body-no-scroll{
    overflow: hidden;
    height: 100%;
    /*position: fixed;*/
    left: 0;
    right: 0;
}

.pos-absolute
{
    position: absolute;

    &.top-right
    {
        top: 10px;
        right: 0;
    }

    &.bottom-right
    {
        bottom:10px;
        right:0;
    }
}

.top-margin
{
    margin-top: $baseMargin;
}

.no-margins
{
    margin: 0 !important;
}

.pos-relative
{
    position: relative;
}

.content-divider
{
    border-bottom: 1px dotted $lightGray;
    margin-bottom: $smallMargin + 5;
    padding-bottom: $basePadding;
}

hr
{
    border: 0;
    color: $lightBlue;
    background-color: $lightBlue;
    height: 2px;
    margin: 15px 0 10px;
}

.seperator-bottom
{
    border-bottom: solid 1px $borderGray;
}

.clear
{
    clear: both;
}

.clear-after
{
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.small-margin-bottom
{
    margin-bottom: $basePadding;
}

.small-margin-top
{
    margin-top: $basePadding - 5;
}

.visible
{
    display: block;
}

.bold
{
    font-weight: bold;
}
.semi-bold{
    font-weight: 600;
}
.normal{
    font-weight: normal;
}

.italic {
    font-style: italic;
}
.float-right
{
    float: right;
}
.unstyled{
    list-style: none;
}

//Button styles
.btn-orange{
    display: inline-block;
    background-repeat: repeat-x;
    background-image: linear-gradient(256deg,#fc6c00,#fc881b)!important;
    border: 1px solid #fc881b;
    text-shadow: none;
    color: #FFF!important;
    text-transform: none;
    border-radius: 30px;
    box-shadow: none;
    height: 35px;
    font-size: 16px;
    padding: 0 12px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    &:hover,&:focus{
        background-image: linear-gradient(256deg,#fc881b,#fc6c00);
    }
}