//Header CSS

.logo {
    background-image: url('https://cdn4.alpharooms.com/assets-ux/content/images/HeaderLogo.svg');
    width: 199px;
    height: 45px;
    background-size: 199px 45px;
    display: inline-block;
}