//Home Banner CSS

.Homepagebanner{
    margin: 0 auto;
    background-size: cover;
    position: relative;
    background-image: url('https://cdn4.alpharooms.com/assets-ux/content/images/homeBg.jpg');
    background-position: right bottom;
    background-color: #bad7f6;
    min-height: 350px;
}