@import './header.scss';
@import './homebanner.scss';
@import './trustlogos.scss';
@import './marketingbanners.scss';
@import './mostpopulardest.scss';
@import './homesignup.scss';
@import './footer.scss';


#homepage{
    h3{
        margin-bottom: 12px;
        color: #003580;
        text-transform: none;
        font-size: 20px;
    }
    .large-padding{
        padding: 10px !important;
    }
}

@media (min-width: 768px){
    #homepage{
        h3{
            font-size: 26px;
            font-weight: 700;
            color: #003580;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    
}