//Marketing Banners
#marketing-banners{
    .marketing-section{
        img{
            border-radius: 6px;
        }
        &:first-child{
            .promotxt{
                display: none;
            }
        }
        
        .promo-right{
            position: relative;
            &:last-child{
                .promotxt{
                    text-align: left;
                    right: auto;
                    left: 25px;
                }
            }
        }
        .promotxt {
            color: $white;
            position: absolute;
            top: 10px;
            right: 25px;
            text-align: right;
            &:first-child{
                display: none;
            }
            .promoname{
                padding-bottom: 12px;
                strong {
                    font-size: 34px;
                    font-weight: 600;
                    color: #fff;
                    line-height: 26px;
                }
            }
            .promoprice {
                padding-top: 10px;
                border-top: 1px dashed #fff;
                display: inline-block;
                line-height: 20px;
                .from {
                    font-size: 22px;
                }
                .price {
                    font-size: 40px;
                    margin-top: 10px;
                    color: #f8e71c;
                    font-weight: 700;
                }
            }
        }
    }    
}
