//Most Popular destination
#most-popular{
    .slick-slide{
        margin-right: 0px;
        position: relative;
        width: 265px !important;
    }
    .popular-dest{
        overflow: hidden;
        .popular-dest{
            list-style: none;
            float: left;
            margin-right: 20px;
            position: relative;
            img{
                border-radius: 6px;
            }
        }
        .destName{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            background-image: linear-gradient(to bottom,rgba(7,131,173,0),#034c75);
            padding-bottom: 20px;
            text-align: center;
            height: auto!important;
            line-height: 20px;
            margin: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            pointer-events: none;
        }
    }
}