//Trustpilot logos section CSS
.trust-logos{
    border-bottom: 1px solid #79abe4;
    i{
        display: inline-block;
    }
    span{
        display: inline-block;
        vertical-align: top;
        text-align: left;
        line-height: 20px;
        position: relative;
        top: 5px;
        left: 8px;
    }
    .trustpilot-rtng{
        i{
            width: 217px;
            height: 58px;
            background: url(https://cdn4.alpharooms.com/assets-ux/content/images/homeSprite-V1.svg) -9px -69px;
        }
    }
    .ggle-rtng{
        i{
            width: 133px;
            height: 62px;
            background: url(https://cdn4.alpharooms.com/assets-ux/content/images/homeSprite-V1.svg) -4px -213px;
        }        
    }
    .atol-bar{
        i{
            width: 55px;
            height: 56px;
            background: url(https://cdn4.alpharooms.com/assets-ux/content/images/homeSprite-V1.svg) -59px 276px;
        }        
    }
    .deposit{
        i{
            width: 51px;
            height: 53px;
            background: url(https://cdn4.alpharooms.com/assets-ux/content/images/homeSprite-V1.svg) -1px 277px;
        }
    }

    .trust-mobile{
        padding: 0;
        .trustpilot-rtng {
            i {
                background-position: -308px -5px;
                width: 98px;
                height: 56px;
                position: relative;
                top: 9px;
            }
        }
        .deposit{
            i{
                width: 41px;
                height: 40px;
                background-position: -337px 308px;
                left: 30px;
                position: relative;
            }
            span{
                display: block;
                text-align: center;
                font-size: 11px;
                line-height: 12px;
                text-align: center;
                font-weight: 700;
                left: 0;
                top: -5px;
                color: #003580;
            }
        }
        .ggle-rtng.mob {
            i {
                background-position: -136px -220px;
                width: 117px;
                height: 51px;
            }
        }
    }
}