//Text & Bg Colors
$white: #ffffff;
$orange: #F46708 ;
$blue: #003580;
$link: #0077BA;
$gray: #606C77;
$darkGray: #262E37;
$lightBlue: #DAE9F8;
$bgGray: #F3F7F9;
$borderGray: #D4DCE3;
$cloudyBlue: #080808;
$mediumBlue: #00ABD7;
$lightGray: #080808;
$searchBg: #DAE9F8;
$pageBg: #F3F7F9;
$pageTitle: #003580;
$subTitle: #202932;
$txtColor: #606C77;

//Margins
$baseMargin: 20px;
$smallMargin: 10px;
$basePadding: 10px;
$smallPadding: 5px;
$largePadding: 20px;

//Font Size
$enourmousText: 59px;
$hugeTextPlus12: 50px;
$hugeTextPlus10: 48px;
$hugeTextPlus8: 46px;
$hugeTextPlus4: 44px;
$hugeTextPlus2: 40px;
$hugeText: 38px;
$veryLargeTextPlus10: 36px;
$smallHugeText: 34px;
$largerVeryVeryLargeText: 32px;
$veryVeryLargeText: 31.5px;
$almostVeryVeryLargeText: 29px;
$almostAlmostVeryVeryLargeText: 28px;
$veryLargeText: 26px;
$veryNearlyVeryLargeText: 24.5px;
$almostVeryLargeText: 24px;
$largerText: 22px;
$largeText: 20px;
$nearlyLargeText: 19px;
$largishText: 18.2px;
$standardVeryLargeText: 18px;
$standardAlmostVeryLargeText: 17.5px;
$standardAlmostAlmostVeryLargeText: 17px;
$standardLargeText: 16px;
$standardLargerText: 15px; 
$standardText: 14px;
$standardSmallText: 13.5px;
$standardSmallerText: 13px;
$smallerText: 12px;
$smallTextMad: 11.9px;
$smallText: 11px;
$evenSmallerText: 10px;
$zeroSizeText: 0px;

$enourmousTextRem: 3.6875rem;
$hugeTextPlus12Rem: 3.125rem;
$hugeTextPlus10Rem: 3rem;
$hugeTextPlus8Rem: 2.875rem;
$hugeTextPlus4Rem: 2.75rem;
$hugeTextPlus2Rem: 2.5rem;
$hugeTextRem: 2.375rem;
$veryLargeTextPlus10Rem: 2.25rem;
$smallHugeTextRem: 2.125rem;
$largerVeryVeryLargeTextRem: 2rem;
$veryVeryLargeTextRem: 1.96875rem;
$almostVeryVeryLargeTextRem: 1.8125rem;
$almostAlmostVeryVeryLargeTextRem: 1.75rem;
$veryLargeTextRem: 1.625rem;
$veryNearlyVeryLargeTextRem: 1.53125rem;
$almostVeryLargeTextRem: 1.5rem;
$largerTextRem: 1.375rem;
$largeTextRem: 1.25rem;
$nearlyLargeTextRem: 1.1875rem;
$largishTextRem: 1.1375rem;
$standardVeryLargeTextRem: 1.125rem;
$standardAlmostVeryLargeTextRem: 1.09375rem;
$standardAlmostAlmostVeryLargeTextRem: 1.0625rem;
$standardLargeTextRem: 1rem;
$standardLargerTextRem: 0.9375rem; 
$standardTextRem: 0.875rem;
$standardSmallTextRem: 0.84375rem;
$standardSmallerTextRem: 0.8125rem;
$smallerTextRem: 0.75rem;
$smallTextMadRem: 0.74375rem;
$smallTextRem: 0.6875rem;
$evenSmallerTextRem: 0.625rem;
$zeroSizeTextRem: 0rem;


// Line heights
$lineHeightEnourmous: 79px;
$lineHeightHugest: 50px;
$lineHeightHuger: 45px;
$lineHeightHuge2: 44px;
$lineHeightHuge: 40px;
$lineHeightSmallHuge: 34px;
$lineHeightVeryLarge: 30px;
$lineHeightAlmostVeryLarge: 28px;
$lineHeightLarger: 24px;
$lineHeightMidLarge: 22px;
$lineHeightLarge: 20px;
$lineHeightStandardVeryLarge: 18px;
$lineHeightStandardLarger: 17px;
$lineHeightStandardLarge: 16px;

$lineHeightEnourmousRem: 4.9375rem;
$lineHeightHugestRem: 3.125rem;
$lineHeightHugerRem: 2.8125rem;
$lineHeightHuge2Rem: 2.75rem;
$lineHeightHugeRem: 2.5rem;
$lineHeightSmallHugeRem: 2.125rem;
$lineHeightVeryLargeRem: 1.875rem;
$lineHeightAlmostVeryLargeRem: 1.75rem;
$lineHeightLargerRem: 1.5rem;
$lineHeightMidLargeRem: 1.375rem;
$lineHeightLargeRem: 1.25rem;
$lineHeightStandardVeryLargeRem: 1.125rem;
$lineHeightStandardLargerRem: 1.0625rem;
$lineHeightStandardLargeRem: 1rem;

//Button bg
$orangeShade:linear-gradient(260deg, #fc881b, #fc6c00);
$orangeShadeHover: linear-gradient(260deg, #fc6c00, #fc881b);